{% extends "layout/base.html" %}
{% load staticfiles %}

{% block title %}
siprogress
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/plugins/css-toggle-switch/toggle-switch.css' %}">
<link rel="stylesheet" href="{% static 'css/plugins/iCheck/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/dxtreeview.css' %}">
<style>
    body {
        /* background-color: deepskyblue; */
        background-image: url("/static/img/rajal.png") !important;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding-right: 0 !important
    }

    
</style>
{% endblock %}

{% block content %}
    {% include 'master/gudang/layouts/content.html' %}
    {% include 'dashboard/modalShift.html' %}
{% endblock content %}

{% block script %}
    {% include  'master/gudang/js/init.html' %}
{% endblock %}