<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong>Master Gudang</strong>
            </div>
            <div class="card-body">
                <form action="#">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="idGudang">ID GUDANG</label>
                                <input type="text" class="form-control" id="idGudang" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="namaGudang">NAMA GUDANG</label>
                                <input type="text" class="form-control" id="namaGudang" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="keteranganGudang">Keterangan</label>
                                <input type="text" class="form-control" id="keteranganGudang" placeholder="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-5 pb-5">
        <div class="card">
            <div class="card-header">
                <strong>List Gudang</strong>
            </div>
            <div class="card-body">
                <div id="dxListGudang"></div>
            </div>
        </div>
    </div>
</div>