<nav class="navbar navbar-static-top" role="navigation">
      
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a href="http://{{ request.get_host }}/" class="navbar-brand" href="#">SImDealer</a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse trns" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Biling System <span class="caret"></span></a>
                    <ul class="dropdown-menu trns">
                      <li><a href="/entry_resep_rawat_jalan">Data Pasien</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/entry_resep_rawat_inap">Kasir Radiologi</a></li>
                    </ul>
              </li>
              
              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informasi <span class="caret"></span></a>
                    <ul class="dropdown-menu trns">
                      <li><a href="/mutasi_masuk">Pasien Rawat Inap</a></li>
                      <li><a href="/mutasi_keluar">Tarif</a></li>
                      <li><a href="/mutasi_keluar">Tarif Obat</a></li>
                      <li><a href="/mutasi_keluar">Dokter Spesialist</a></li>
                      <li><a href="/mutasi_keluar">Dokter Klinik</a></li>
                      <li><a href="/mutasi_keluar">Jadwal Dokter</a></li>
                      <li><a href="/mutasi_keluar">Kamar</a></li>
                      <li><a href="/mutasi_keluar">Message Pasien</a></li>
                      <li><a href="/mutasi_keluar">AppointmentPasien</a></li>
                    </ul>
              </li>
              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mutasi BHP Radiologi <span class="caret"></span></a>
                <ul class="dropdown-menu trns">
                  <li><a href="#">Pembelian</a></li>
                  <li><a href="#">Mutasi BHP Radiologi Masuk</a></li>
                  <li><a href="#">Mutasi BHP Radiologi Keluar</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Registrasi Inkaso Hutang</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
                <ul class="dropdown-menu trns">
                  <li><a href="#">Laporan Kunjungan</a></li>
                  <li><a href="#">Laporan Pemeriksaan / Produk</a></li>
                  <li><a href="#">Laporan Kartu Stock BHP</a></li>
                  <li><a href="#">Laporan Posisi Stock BHP</a></li>
                  <li><a href="#">Laporan Harga Posisi Stock BHP</a></li>
                  <li><a href="#">Laporan Pemeriksaan / Produk-Komponent</a></li>
                  <li><a href="#">Laporan Jasa Dokter</a></li>
                  <li><a href="#">Laporan Pemeriksaan / Golongan</a></li>
                  <li><a href="#">Laporan Jasa Radiografer</a></li>
                </ul>
              </li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Utility <span class="caret"></span></a>
                  <ul class="dropdown-menu trns">
                    <li><a href="#">Privilege</a></li>
                    <li><a href="#">Transfer Text Data Radiologi</a></li>
                  </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup <span class="caret"></span></a>
                <ul class="dropdown-menu trns">
                  <li><a href="#">Kelompok Pemeriksaan</a></li>
                  <li><a href="#">Jenis Pemeriksaan</a></li>
                  <li><a href="#">Produk Radiologi</a></li>
                  <li><a href="#">Referensi Standart Produk Radiologi</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Jenis Produk BHP Radiologi</a></li>
                  <li><a href="#">Bahan Habis Pakai Radiologi</a></li>
                  <li><a href="#">Referensi Standart Pemakaian BHP Produk Radiologi</a></li>
                  <li><a href="#">Analisa Reject Fim</a></li>
                </ul>
              </li>

              <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Optional Login <span class="caret"></span></a>
                  <ul class="dropdown-menu trns">
                      <li><a href="#">Optional Login</a></li>
                      <li><a href="/logout">Exit</a></li>
                  </ul>
              </li>

          </ul>
          
        </div><!-- /.navbar-collapse -->
    </nav>
