{% load staticfiles %}
<div class="wrapper wrapper-content dashboard">
  <div class="container">
      <div class="row quick-button">
        <div class="col-md-12">
          <div class="col-md-4">
              <div class="col-sm-2" style="margin-left: 0px;">
                  <a href="/radiologi/kasir">
                 <div class="thumbnail ">
                   <center>
                       <img src="{% static 'img/ic_add.png' %}" alt="..." class="hight70" style="width:30px; height:30px; margin-top: 10px;">
                       <div class="caption">
                         <p style="color:#A85E2B;">Tambah</p>
                       </div>
                   </center>
                 </div>
                 </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/ic_edit.png' %}" alt="..." class="hight70" style="width:30px; height:30px; margin-top: 10px;">
                      <div class="caption">
                        <p style="color:#A85E2B;">Edit</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Hapus</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Antrian</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Kasir</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Disc.%</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
          </div>
          <div class="col-md-4">
              <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Tarif MNL</p>
                        </div>
                    </center>
                  </div>
                  </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Farmasi</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/farmasi/jenis-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Transfer</p>
                      </div>
                  </center>
                </div>
                </a>
              </div> 

              <div class="col-sm-2">
                  <a href="/farmasi/jenis-obat">
                  <div class="thumbnail ">
                    <center>
                        <img src="{% static 'img/revisit.png' %}" alt="..." class="hight70">
                        <div class="caption">
                          <p>Tran. RJ</p>
                        </div>
                    </center>
                  </div>
                  </a>
              </div>
      
              <div class="col-sm-2">
                <a href="/purchase">
                  <div class="thumbnail ">
                    <center>
                      <img src="{% static 'img/cancel.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Find</p>
                      </div>
                    </center>
                  </div>
                </a>
              </div>
              
              <div class="col-sm-2">
                  <a href="/golongan-obat">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/save.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Rujukan</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>       
          </div>
          <div class="col-md-4">     
      
              <div class="col-sm-2">
                <a href="/faktur_pembelian">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/cari.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Hasil Rad</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                  <a href="#">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/print.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Cetak</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
        
              <div class="col-sm-2">
                  <a href="#">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/exit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Kwitansi</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
      
              <div class="col-sm-2">
                  <a href="#">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/exit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Total RJ</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
              
              <!-- <div class="col-sm-2">
                  <a href="#">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/exit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Exit</p>
                      </div>
                  </center>
                </div>
                </a>
              </div> -->

              <div class="col-sm-2">
                  <a href="/radiologi">
                <div class="thumbnail ">
                  <center>
                      <img src="{% static 'img/exit.png' %}" alt="..." class="hight70">
                      <div class="caption">
                        <p>Exit</p>
                      </div>
                  </center>
                </div>
                </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>