<script>
    var host2 = window.location.href;
    var host = window.location.href.split("/");
    host2 = host[0] + "//" + host[2] + "/" + host[3]
    host = host[0] + "//" + host[2] + "/"

    console.log(host)

    $(document).ready(function () {
        $('#Modalcabang').modal('hide');
        user = "{{request.session.user_id}}";
        if (user == 'IT') {
            setMenu('Findjenis', 1)
            setMenu('Findjenis2', 1)
        } else {
            setMenu('Findjenis', 0)
            setMenu('Findjenis2', 0)
        }
        console.log(user);
        $("#Findjenis").click(function (e) {
            // console.log(($("#Findjenis").hasClass('disabled')))
            e.preventDefault();
            e.stopImmediatePropagation();
            if ($("#Findjenis").hasClass('disabled') == false) {
                window.open(host + "privilege/navbars/")
            }
        })

        $("#Findjenis2").click(function (e) {
            // console.log(($("#Findjenis").hasClass('disabled')))
            e.preventDefault();
            e.stopImmediatePropagation();
            if ($("#Findjenis2").hasClass('disabled') == false) {
                window.open(host + "privilege/menubars/")
            }
        })

    })



    function setMenu(id, enable = 1) {
        if (enable == 0) {
            $('#' + id).addClass('disabled')
        } else {
            $('#' + id).removeClass('disabled')
        }
    }

    function setDisabled(id, enable = 1) {
        if (enable == 1) {
            $('#' + id).attr("disabled", false);
        } else {
            $('#' + id).attr("disabled", true);
        }
    }
</script>