
<script>
var hostShift = "http://{{ request.get_host }}/";
//var hostShift = hostShift[0] + "//" + hostShift[2] + "/" + hostShift[3]

$(document).ready(function() {
    var shift_isset = '{{ request.session.shift_isset }}'
    var shift_cek = '{{ request.session.shift_cek }}'
    var shift_aktif = '{{ request.session.shift_aktif }}'
    var shift_jumlah = '{{ request.session.shift_jumlah }}'
    var shift_kode = '{{ request.session.shift_kode }}'
    var shift_nama = '{{ request.session.shift_nama }}'
    var shift_tanggal = '{{ request.session.shift_tanggal }}'
    var shift_counter = '{{ request.session.shift_counter }}'
    var shift_next = '{{ request.session.shift_next }}'

    if (shift_isset == '0' && shift_cek == '1') {
        $("#shift_tanggal").val(shift_tanggal)

        if (shift_jumlah == '1') {
            $("#div_shift_siang").hide()
            $("#div_shift_malam").hide()
        } else if (shift_jumlah == '2') {
            $("#div_shift_malam").hide()
        } else {
            $("#div_shift_siang").show()
            $("#div_shift_malam").show()
        }

        if (shift_aktif == 1) {
            $('#shift_pagi').iCheck('check');
        } else if (shift_aktif == 2) {
            $('#shift_siang').iCheck('check');
        } else {
            $('#shift_malam').iCheck('check');
        }

        //$("#modalShift").modal("show");
    }

    $("#btn_shift_ok").click(function(e) {
        $.ajax({
            url: hostShift + "shift/setShift",
            method: "GET",
            data: {},
            success: function(e) {
                $("#modalShift").modal("hide");
            }
        })
    });

    $("#btn_shift_tutup").click(function(e) {
        $.ajax({
            url: hostShift + "shift/tutupShift",
            method: "GET",
            data: {},
            success: function(e) {
                $("#shift_tanggal").val(e.shift_tanggal)

                if (e.shift_aktif == 1) {
                    $('#shift_pagi').iCheck('check');
                } else if (e.shift_aktif == 2) {
                    $('#shift_siang').iCheck('check');
                } else {
                    $('#shift_malam').iCheck('check');
                }
            }
        })
    });

    $("#btn_shift_keluar").click(function(e) {
        window.location.href = "/logout";
    });
});
</script>