<div class='row'>
    <div class='col-md-12'>
        <div class='custom-card'>
            <div class='custom-card-title rounded-top'>
                <h3>LIST ADUAN PAGING</h3>
            </div>
            <div class='custom-card-content bg-white rounded-bottom'>
                <div class="row " style="padding-top:5px;">
                    <div class='col-md-12 px-1 form-group'>
                        <div id='gridListAduan1'></div>
                        <span id="totalCount" style="color: #666; font-size: 14px; display: none;"></span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>